@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.homepage {
    display: flex;
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

.spinny {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
}

.title {
    padding-top: 5vh;
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
}

.homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 5vh;
    gap: 10vw;
}

.inputparams {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.allParams {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.paramContainer {
    display: flex;
    width: 100%;
    justify-content:center;
    gap: 10px;
    align-items: center;
}

.plotsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.numparam {
    width: 100%;
    max-width: 100px; /* You can adjust this value based on your preference */
    height: 30px;
    border-color: rgb(235, 235, 235);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.generatebutton {
    margin-top: 2rem;
}

.generatebutton button {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.generatebutton button:hover {
    background-color: #0056b3;
}
